/* mat-card-header{
    background-color: #00796B;
    padding: 20px;
} */
.white-background{
    background-color: #FFF;
}
mat-form-field{
    color: #FFC107;
    width:100%;
}
.add-btn{
    background-color: #FFC107;
    color: #FFF;
}

.warning-card {
    background-color: rgb(255, 56, 56);
    color: #FFF;
    font-family: 'Quicksand';
    font-weight: bold;
    text-align: center;
    border-radius: 3px;
}