<app-header></app-header>

<div class="mdl-grid">
  <div class="mdl-layout-spacer"></div>
  <div class="mdl-cell mdl-cell--8-col white-background">
  <mat-card>
    <mat-card-content>
    <div class="warning-card">
      <mat-card-content>
        <flash-message>
        </flash-message>
      </mat-card-content>
    </div>
    <form>
      <mat-form-field>
        <input name="nama" [(ngModel)]="nama" matInput #input type="text" placeholder="Nama Perusahaan" required>
        <mat-icon matSuffix>business</mat-icon>
      </mat-form-field>
      <mat-form-field>
        <input name="alamat" [(ngModel)]="alamat" matInput #input type="text" placeholder="Alamat Perusahaan" required>
        <mat-icon matSuffix>location_on</mat-icon>
      </mat-form-field>
      <mat-form-field>
          <input name="email_perusahaan" [(ngModel)]="email_perusahaan" matInput #input type="email_perusahaan" placeholder="Email Perusahaan" required>
          <mat-icon matSuffix>email</mat-icon>
      </mat-form-field>
      <mat-form-field>
          <input name="telepon" [(ngModel)]="telepon" matInput #input type="telepon" placeholder="Telepon Perusahaan" required>
          <mat-icon matSuffix>phone</mat-icon>
      </mat-form-field>
      <mat-form-field>
          <span matPrefix>www. &nbsp;</span>
          <input name="website" [(ngModel)]="website" matInput #input type="website" placeholder="Website Perusahaan" required>
          <mat-icon matSuffix>language</mat-icon>
      </mat-form-field>
      <mat-form-field>
          <textarea name="deskripsi"  rows="5" cols="40"   [(ngModel)]="deskripsi" matInput #input type="deskripsi" placeholder="Deskripsi Perusahaan" required></textarea>
          <mat-icon matSuffix>textsms</mat-icon>
      </mat-form-field>
      <mat-form-field>
        <mat-select name="kategori" [(ngModel)]="kategori" #kategoriValue   placeholder="Bidang">
          <mat-option value="Sistem Informasi">Sistem Informasi</mat-option>
          <mat-option value="Multimedia">Multimedia</mat-option>
          <mat-option value="Jaringan Komputer">Jaringan Komputer</mat-option>
          <mat-option value="Telekomunikasi Seluler">Telekomunikasi Seluler</mat-option>
          <mat-option value="Audio Video">Audio Video</mat-option>
          <mat-option value="Elektronika Industri">Elektronika Industri</mat-option>
        </mat-select>
      </mat-form-field>
      <div align="right">
          <a mat-raised-button class="add-btn" (click)="addCompany($event)" mat-raised-button>Tambah</a>
      </div>
    </form>
    </mat-card-content>
  </mat-card>
  </div>
  <div class="mdl-layout-spacer"></div>
</div>

<app-footer></app-footer> 