<mat-toolbar class="mat-toolbar" *ngIf="authService.loggedIn()">
  <button mat-icon-button (click)="sideNav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="nav-spacer"></span>
  <button mat-icon-button fxShow="false" fxShow.gt-sm [matMenuTriggerFor]="menu"  *ngIf="authService.loggedIn()">
    <mat-icon class="avatar">person</mat-icon>
  </button>
</mat-toolbar>

<mat-menu #menu="matMenu" style="width:100px;" >
  <button class="mat-menu-button" mat-menu-item routerLink="/dashboard"  *ngIf="authService.loggedIn()">
    <span>Beranda</span>
  </button>
  <button class="mat-menu-button"  mat-menu-item routerLink="/profile"  *ngIf="authService.loggedIn()">
    <span>Profil</span>
  </button>
  <button class="mat-menu-button"  mat-menu-item routerLink="/company" *ngIf="authService.loggedIn()"> 
    <span>Perusahaan</span>
  </button>
  <button class="mat-menu-button"  mat-menu-item (click)="logoutUser()"  *ngIf="authService.loggedIn()">
    <span>Keluar</span>
  </button>
</mat-menu>

<mat-sidenav-container autosize>
    <mat-sidenav #sideNav mode="side" opened>Sidenav List</mat-sidenav>
    <mat-sidenav-content>Content</mat-sidenav-content>
</mat-sidenav-container>