<app-header></app-header>
<div class="mdl-grid center-items">
  <div class="mdl-cell mdl-cell--8-col">
      <div class="white-background">
          <div class="company-container">
            <div class="company-header">
                <div class="">
                    <mat-form-field>
                      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                    </mat-form-field>
                </div>
                <!-- Off when level = 1 -->
                <div class="" align="right">
                    <a mat-icon-button class="add-btn" matTooltip="Buat Perusahaan Baru" *ngIf="!authService.moderatorMenu() || authService.adminMenu()" (click)="addCompany($event)">
                      <mat-icon>add</mat-icon>
                    </a>
                </div>
            </div>

            <div class="table-responsive">
            <mat-table #table [dataSource]="dataSource">
              <!-- Perusahaan Column -->
              <ng-container matColumnDef="perusahaan">
                <mat-header-cell *matHeaderCellDef> Perusahaan </mat-header-cell>
                <mat-cell *matCellDef="let companies"> <a matTooltip="Klik Untuk Melihat Detail" (click)="viewCompany(companies)">{{companies.perusahaan}}</a> </mat-cell>
              </ng-container>
              <!-- Mahasiswa Column -->
              <ng-container matColumnDef="kategori">
                <mat-header-cell *matHeaderCellDef> Bidang Praktik Industri </mat-header-cell>
                <mat-cell *matCellDef="let companies"> {{companies.kategori}} </mat-cell>
              </ng-container>
              <!-- Mahasiswa Column -->
              <ng-container matColumnDef="mahasiswa">
                <mat-header-cell *matHeaderCellDef> Jumlah Mahasiswa </mat-header-cell>
                <mat-cell *matCellDef="let companies"> {{companies.students.length}} </mat-cell>
              </ng-container>
              <!-- Option Column -->
              <ng-container matColumnDef="option">
                  <mat-header-cell *matHeaderCellDef> Option </mat-header-cell>
                  <mat-cell *matCellDef="let companies">
                    <button matTooltip="Ada kesalahan penulisan? Laporkan perusahaan ini" routerLink="/report/{{companies._id}}" mat-icon-button class="add-btn">
                        <mat-icon>warning</mat-icon>
                    </button>
                    <button mat-icon-button class="edit-btn" matTooltip="Ubah Data Perusahaan" (click)="updateCompany(companies)" *ngIf="authService.moderatorMenu()">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button class="delete-btn" matTooltip="Hapus Data Perusahaan" (click)="deleteCompany(companies)" *ngIf="authService.adminMenu()" >
                        <mat-icon>delete</mat-icon>
                    </button>
                  </mat-cell>
              </ng-container>
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
          </div>
          </div>
        </div>
  </div>
</div>
<app-footer></app-footer>